hr {
   border-width: 1px
   border-style: solid;
   border-color: rgb(238,238,238);
   color: rgb(238,238,238);
   background-color: rgb(238,238,238);
   margin: 8px 0px 0px 0px;
}

.loading {
  background-color: white;
  opacity: .8;
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
}

.loading-inner {
  /*background-color: white;*/
  position: absolute;
  top: 35px;
  left: 25%;
  height: 10%;
  width: 50%;
  opacity: 1;
  text-align: center;
  vertical-align: center;
/*          border-style: solid;
  border-color: #1691C6;*/
}

.selectionLegend {
    margin: 0px 0px 5px 0px;
    color: #00698C;
}

.listboxLegend {
    margin: 0px 0px 0px 0px;
    font-family: "Segoe UI Semibold", Arial, sans-serif;
}

.accountInfoSubheaders {
    margin: 0px 0px 0px 0px;
    font-family: "Segoe UI", Arial, sans-serif;
}

#metricsGoalsList .searchable-list-box {
    height:126px;
}

#metricBubbleMessage {
  position: absolute;
  pointer-events: none;

}
#dimensionBubbleMessage {
  position: absolute;
  pointer-events: none;
}

#segmentBubbleMessage {
  position: absolute;
  pointer-events: none;
}

.bubbleWarning:before {
   background-color: transparent;
   border-left: 8px solid transparent;
   border-right: 8px solid transparent;
   border-bottom: 8px solid #9f1d20;
   content: "\00a0";
   height: 0px;
   position: relative;
   top: -14px;
   width: 0px;
   left: 0px;
   display: inline-block;
}

.bubbleWarning {
   background-color: #ec2227;
   border: 1px solid #9f1d20;
   border-radius: 5px;
   color: #ffffff;
   display: inline-block;
   font-family: 'Segoe UI Semibold', Arial, sans-serif;
   font-size: 12px;
   left: 100px;
   top: 42px;
   right: 40px;
   padding: 5px 20px 5px 5px;
   position: relative;
   text-align: center;
}

.devConnectionWarning:before {
   background-color: transparent;
   border-left: 8px solid transparent;
   border-right: 8px solid transparent;
   border-bottom: 8px solid #9f1d20;
   content: "\00a0";
   height: 0px;
   position: relative;
   top: -14px;
   width: 0px;
   left: 0px;
   display: inline-block;
}

.devConnectionWarning {
   background-color: #ec2227;
   border: 1px solid #9f1d20;
   border-radius: 5px;
   color: #ffffff;
   display: inline-block;
   font-family: 'Segoe UI Semibold', Arial, sans-serif;
   font-size: 12px;
   left: 0px;
   top: 0px;
   right: 40px;
   padding: 5px 20px 5px 5px;
   position: relative;
   text-align: center;
}

.userConnectionWarning {
   background-color: #ec2227;
   border: 1px solid #9f1d20;
   border-radius: 5px;
   color: #ffffff;
   display: inline-block;
   font-family: 'Segoe UI Semibold', Arial, sans-serif;
   font-size: 12px;
   left: 145px;
   top: 41.5px;
   right: 20px;
   padding: 5px 5px 5px 5px;
   position: absolute;
   text-align: center;
   width: auto;
}

.metricWarning, .elementWarning, .segmentWarning {
   background-color: #ec2227;
   border: 1px solid #9f1d20;
   border-radius: 5px;
   color: #ffffff;
   display: block;
   font-family: 'Segoe UI Semibold', Arial, sans-serif;
   font-size: 12px;
   margin-top: 35px;
   // left: 145px;
   // top: 41.5px;
   // right: 20px;
   white-space: pre-wrap;
   padding: 5px 5px 5px 5px;
   text-align: center;
   width: auto;
}

.metricValid, .elementValid, .segmentValid {
   background-color: rgb(204,246,209);
   border: 1px solid rgb(204,246,209);
   border-radius: 5px;
   color: black;
   display: block;
   font-family: 'Segoe UI Semibold', Arial, sans-serif;
   font-size: 12px;
   margin-top: 35px;
   // left: 145px;
   // top: 41.5px;
   // right: 20px;
   white-space: pre-wrap;
   padding: 5px 5px 5px 5px;
   text-align: center;
   width: auto;
}

.prevBtn {
    border-color: rgb(228, 228, 228);
    background-color: white;
    color: black;
    display: inline-block;
    margin: 0 0 0 5px;
    padding: 6px 10px 7px 10px;
    border-width: 1px;
    border-style: solid;
    font-family: 'Segoe UI', Arial, sans-serif;
    font-size: 1em;
    cursor: pointer;
    float: right;
}

.nextBtn {
    float: right;
    display: inline-block;
}

.connectionErrorMessage {
    display: block;
    padding: 5px 5px 5px 5px;
    background: rgba(208, 2, 27, .2)
}

.warning:before {
   background-color: transparent;
   border-left: 8px solid transparent;
   border-right: 8px solid transparent;
   border-bottom: 8px solid #9f1d20;
   content: "\00a0";
   height: 0px;
   position: relative;
   top: -14px;
   width: 0px;
   left: 0px;
   display: inline-block;
}

/* Warning message styling */
.warning {
    background-color: #ec2227;
    border: 1px solid #9f1d20;
    border-radius: 5px;
    color: #ffffff;
    display: inline-block;
    font-family: 'Segoe UI Semibold', Arial, sans-serif;
    font-size: 12px;
    left: 5px;
    top: -11px;
    padding: 5px 20px 5px 5px;
    position: relative;
    text-align: center;
}

.alteryx-grid-text-cell {
    overflow:visible;
}

.selectionMessage-outer {
    min-height: 25px;
    max-height: auto;
    margin-bottom: 5px;
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 5px;
    border: #EAF7FF;
    border-style: solid;
    border-width: 1px;
    background-color: #EAF7FF;
    font-family: "Segoe UI Semibold", Arial, sans-serif;
}

.selectionMessage-inner {
    max-height: auto;
    margin-bottom: 5px;
    padding-left: 5px;
    border-style: none;
}

.selectionMessage-btn {
    display: inline-block;
    margin-top: 5px;
    margin-right: 5px;
    margin-bottom: 0px;
    padding: 6px 10px 7px 10px;
    border-width: 1px;
    border-left: 8px;
    border-style: solid;
    border-color: #00698C;
    font-color: #135d7a;
    font-family: "Segoe UI", Arial, sans-serif;
    background-color: #FFFFFF; // #F2F2F2
}

.goalSelectionMessage-btn {
    display: inline-block;
    margin-top: 5px;
    margin-right: 5px;
    margin-bottom: 0px;
    padding: 6px 10px 7px 10px;
    border-width: 1px;
    border-left: 8px;
    border-style: solid;
    border-color: #00a89e;
    font-color: #1691C6;
    font-family: "Segoe UI", Arial, sans-serif;
    background-color: #ffffff;
}

.datePicker {
    display: inline-block;
    max-width: 150px;
    padding: 0px 5px 10px 0px;
    position: relative;
    float: left;
}

.form-control {
    margin-top: 0px;
}

.footer {
   position:fixed;
   margin-left: 8px;
   margin-right: 8px;
   left:0px;
   bottom:0px;
   height:82px;
   width:96%;
   background: white;
}

.footer_spacer {
    height: 82px;
}

.summary tr {
    display: block;
    text-align: left;
    vertical-align: middle;
    font-family: 'Segoe UI', Arial, sans-serif;
    font-size: 9pt;
    font-style: normal;
    font-weight: normal;
    margin: 0px;
    padding-right: 0px;
    height: auto;
}

.summary th {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
    font-family: 'Segoe UI', Arial, sans-serif;
    font-size: 9pt;
    font-style: normal;
    font-weight: normal;
    margin-right: 10px;
    padding: 0px;
    height: auto;
}

#preDefDateRange, #granularity {
    max-width: 200px;
}

#dateWarning {
    float: left;
    position: relative;
    width: 100%;
}

input:disabled {
    opacity: .5;
    background: #DDDDDD;
    pointer-events: none;
}